* {
	font-family: Verdana, Geneva, sans-serif;
}

div.logoimg {
	position: relative;
	margin-left: 500px;
}

p.logotext {
	position: relative;
	margin-left: 420px;
	bottom: 210px;
	font-weight: bold;
}

div.navigationbar {
	position: relative;
	margin-left: 900px;
	bottom: 155px;
}

div.logbar {
	position: relative;
	margin-left: 1000px;
	bottom: 230px;
}

table {
	border: 1px solid black;
	padding: 15px;
	border-spacing: 10px 12px;
}

td {
	padding-top: .5em;
	padding-bottom: .5em;
}

fieldset {
	border: solid 2px ForestGreen;
	position: relative;
	display: inline-block;
	margin-left: 415px;
	bottom: 50px;
}

input[type=submit] {
	padding: 5px 5px;
	background: ForestGreen;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: white;
	margin-left: 230px;
	font-size: 14px;
}

input[name="floor"] {
	width: 30px;
}

select[name=city] {
	width: 237px;
}

input[name=maxprice] {
	width: 179px;
}

select[name=sort] {
	width: 172px;
}

select[name=propertytype] {
	width: 15em;
}

legend {
	color: ForestGreen;
}

a {
	text-decoration: none;
	color: ForestGreen;
}

a:hover {
	text-decoration: underline;
}

textarea {
	resize: none;
}

input[name=firstname] {
	margin-left: 64px;
	width: 241px;
}

input[name=lastname] {
	margin-left: 22px;
	width: 241px;
}

input[name=regusername] {
	width: 240px;
}

input[name=regpassword] {
	margin-left: 35px;
	width: 240px;
}

input[name=username] {
	width: 191px;
}

input[name=password] {
	margin-left: 40px;
	width: 191px;
}

input[name=phone] {
	margin-left: 24px;
	width: 240px;
}

input[name=address] {
	width: 223px;
}

input[name=price] {
	width: 231px;
}

input[name=area] {
	width: 227px;
}

input[name=publishname] {
	width: 236px;
}
input[name=publishphone] {
	width: 196px;
}
input[name=publishemail] {
	width: 224px;
}
